:8080

route {
  redirector {
    status 301
    host host1.example {
      to_host host2.example
      exact /old1 /new1
      exact /old2 /new2
    }

    host *.old.example {
      to_host new.example
      exact /a /alpha
      exact /b /beta
    }

    host * {
        status 307
        exact /ping /health
    }

    host old.example {
        status 308
        to_host new.example
        exact  /old     /new
        prefix /blog/   /news/
        prefix /api/v1/ /api/v2/
        regex  ^/u/([0-9]+)$ /users/$1
    }
  }
}
